*.dll
.vscode/
venv/
*.png
*.mp4
*.json
*.txt
step 1.split scenes(TransNet)/configs/*
step 1.split scenes(TransNet)/inference/*
assets/mmproj-Qwen3VL-4B-Instruct-Q8_0.gguf
step 5.generatePrompt/inferprompt.exe
assets/Qwen3VL-4B-Instruct-Q8_0.gguf
